<div class="grid_4">
    <div class="carousel" style="position: relative;margin-top: 80px; margin-bottom: 0px;">
        <div class="element dream-team-en" rel="/services/dedicated-centres/"
             style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 938px; height: 239px;">
            <div class="h1">MEET YOUR DREAM TEAM</div>
            <div class="h2">DEDICATED DEVELOPMENT CENTRES<br>
                THAT WORK FOR YOU
            </div>
            <div class="learn-more">
                <div class="btn"><input type="submit" class="btn-inner-main-page" value="LEARN MORE"></div>
            </div>
        </div>
        <div class="element your-idea-en" rel="/services/software-product-engineering/"
             style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 938px; height: 239px;">
            <div class="h1">YOUR IDEA, WRAPPED AND READY</div>
            <div class="h2">SOFTWARE ENGINEERING SERVICES
                FOR A TIGHTER TIME TO MARKET
            </div>
            <div class="learn-more">
                <div class="btn"><input type="submit" class="btn-inner-main-page" value="LEARN MORE"></div>
            </div>
        </div>
        <div class="element application-service-en" rel="/services/enterprise-application-services/"
             style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 938px; height: 239px;">
            <div class="h1">THE SHAPE OF THINGS TO COME</div>
            <div class="h2">FUTURE-PROOF ENTERPRISE
                APPLICATION SERVICES
            </div>
            <div class="learn-more">
                <div class="btn"><input type="submit" class="btn-inner-main-page" value="LEARN MORE"></div>
            </div>
        </div>
        <div class="element outsorcing-en" rel="/about-us/contacts/"
             style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 938px; height: 239px;">
            <div class="h1">LEVERAGE THE POWER
                OF GLOBAL SOURCING
            </div>
            <div class="h2">OUTSOURCED INNOVATION FOR FASTER RESULTS</div>
            <div class="learn-more">
                <div class="btn"><input type="submit" class="btn-inner-main-page" value="LEARN MORE"></div>
            </div>
        </div>
    </div>
    <!--/*<div id="nav">*/-->
        <!--/*<a href="#" class="bull"></a>*/-->
        <!--/*<a href="#" class="bull activeSlide"></a>*/-->
        <!--/*<a href="#" class="bull"></a>*/-->
        <!--/*<a href="#" class="bull"></a>*/-->
    <!--/*</div>*/-->
</div>
<div class="clear"></div>