<div class="sertificates">
    <div class="grid_1 suffix_3">
        <h1>Social Networks Config</h1>
    </div>

    <div class="grid_4">

        <!--/*<div data-sly-use.certificates="com.aem.models.CertificatesModel" data-sly-unwrap>*/-->

            <!--/*<sly data-sly-list="${certificates.certificateItemsModels}">*/-->
                <!--/*<div class="sert gray-block">*/-->
                    <!--/*<a data-sly-attribute.href="${item.url}">*/-->
                        <!--/*<img src="${item.certImage}"*/-->
                             <!--/*title="${item.title}" alt="Global Services">*/-->
                    <!--/*</a>*/-->
                <!--/*</div>*/-->
            <!--/*</sly>*/-->

        <!--/*</div>*/-->


    </div>


</div>
